<h1 align="center">BIND IT !</h1>
<hr>
<h3 align="center">Angular binding exercise</h3>

<div class="container">
  <div class="row">
    <h4>Counter from app, grabbed with template var: <app-badge [number]="gameControl.counter"></app-badge></h4>
    <button class="btn btn-success col" (click)="gameControl.onStart()">START</button>
    <button class="btn btn-danger col" (click)="gameControl.onStop()">STOP</button>
    <button class="btn btn-primary col" (click)="gameControl.onClear()">CLEAR</button>
  </div>

  <app-game-control #gameControl (payload)="onPayload($event)" ></app-game-control>
  <app-odd [number]="payload.counter"></app-odd>
  <app-even [number]="payload.counter"></app-even>
</div>